ides:
  - cursor
  - vscode
  - phpstorm

agents:
  - copilot
  - claude

instructions:
  - name: use tabs instead of spaces
    files: "*.{ts,tsx,js,jsx}"
  - name: minimize use of ai generated comments
  - name: use tailwind
  - name: do not refactor existing components unless it's explicitly requested
    description: do not refactor existing components, unless it's explicitly requested
  - name: remove unused imports after changing a file
    files: "*.ts,*.tsx"
  - name: never change assertions to make tests pass
    description: if a test is failing, update the test to match the expected
    files: "*.test"